@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  font-family: 'League Spartan', sans-serif;
  color: #fff;
}

.media-carousel {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.media-carousel::-webkit-scrollbar {
  display: none;
}